<%= form_for([@pedido, @item, @entrega], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @entrega.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4>Confira os campos abaixo:</h4>

      <ul>
      <% @entrega.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-sm-1 control-label">Pedido</label>
    <div class="col-sm-2">
      <input class="form-control"  type="text" id="pedido" onblur="getPedido()">
    </div>    

    <%= f.label :cliente, 'Cliente', class: "col-sm-1 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :cliente, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :produto, 'Produto', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <select class="form-control" name="entrega_produto" data-js="entregaProdutos" onclick="getItem()">
        <option value='' >SELECIONE O PRODUTO</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :produto, 'Produto', class: "col-sm-1 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :produto, class: "form-control", disabled: "disable" %>
    </div>
  </div>  

  <div class="form-group">
    <%= f.label :data_entrega, 'Entrega', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :data_entrega, class: "form-control" %>
    </div>

    <%= f.label :quantidade_pedido, 'Qtde Pedido', class: "col-sm-1 control-label" %>
    <div class="col-sm-2" style="text-align: center;">
      <%= f.text_field :quantidade_pedido, class: "form-control", disabled: "disable" %>
    </div>

    <%= f.label :quantidade_ja_entregue, 'Quantidade Já Entregue', class: "col-sm-1 control-label" %>
    <div class="col-sm-2" style="text-align: center;">
      <input type="text" name="quantidade_ja_entregue" id="quantidade_ja_entregue"  class="form-control" disabled>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :quantidade_inicial, 'Qtde Inicial', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :quantidade_inicial, class: "form-control", disabled: "disable" %>
    </div>

    <%= f.label :quantidade_entregue, 'Qtde Entregue', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :quantidade_entregue, class: "form-control" %>
    </div>
  
    <%= f.label :quantidade_final, 'Qtde Final', class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :quantidade_final, class: "form-control", disabled: "disable" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
//Bloqueia a tecla Enter no campo de Input
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

function getPedido(){   
    var idPedido = $('#pedido').val();

    const entregaPedidoCliente = document.querySelector("#entrega_pedido_cliente")
    const entregaProdutos = document.querySelector("[data-js='entregaProdutos']")
    
    $.ajax({
      type: "GET",
      url: `/pedidos/${idPedido}.json`,
      success: function(pedido){ 
        debugger  
        if(pedido){
          entregaPedidoCliente.value = pedido.cliente.nome
          entregaPedidoCliente.disabled = true;
   
          pedido.produtos.forEach(produto => {
            entregaProdutos.innerHTML += `
              <option value='${produto.id}' >${produto.descricao}</option>
            `
          })
        }        
      }
    })
}

const getCliente = (idCliente) => {
                //window.alert("Dentro do método getCliente: " + idCliente); 

  if(idCliente){
    $.ajax({
      type: "GET",
      url: `/clientes/${idCliente}.json`,
      //url: `/pedidos.json?cliente_id=${idCliente}.json`,      
      success: function(cliente){
        if(cliente){
          $('#entrega_pedido_cliente').val(cliente.nome);

          document.getElementById("entrega_pedido_cliente").disabled = true;
        }
      }
    })
  }
}

function getItem(){
  var idPedido = $('#pedido').val();

  const idProduto = document.querySelector("[data-js='entregaProdutos']").value

  if(idProduto) {
    $.ajax({
      type: "GET",
      url: `/pedidos/${idPedido}.json`,
      success: function(pedido){
        const item = pedido.itens.find(item => item.produto.id == idProduto)
        console.log(item)

        $('#entrega_pedido_produto').val(item.produto.descricao)
        $('#entrega_pedido_quantidade_pedido').val(item.quantidade)
      }
    })
  }
}

const getPedidoItens = (idPedido) => {
  window.alert("Dentro do método getPedidoItens: " + idPedido); 

  if(idPedido){
    $.ajax({
      type: "GET",
      url: `/pedido.pedido_itens?pedido_id=${idPedido}.json`,      
      //url: `/pedidos/${idPedido}/pedido_itens`,
      //url: `/pedidos/${idPedido}/pedido_itens`,
      //////url: `/entrega_pedidos/#{idPedido}`,
                  //url: `/pedidos_itens/getPedidoItens`,
      //url: '@Url.Action("getPedidoItens")',
                  data: { "id": 1 },
      procesData: true,
      success: function(pedidoitens){
        window.alert(pedidoitens);
      }
    })
  }    
}

</script>
