<h3>Produtos</h3>

<div class="page-header">
  <%= link_to new_produto_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>

  <%if params[:codigo].present? %>
    <%= link_to "javascript:history.back()", class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
    <% end %>
  <% end %>
  
  <h3>Lista</h3>
</div>

<div style="margin-bottom: 20px">
  <form action="/produtos" method="get" data-js="formProduto">
    <div style="margin-bottom:10px">
      <label for="cliente">Cliente</label> 
      <select class="form-control js-example-matcher" id="cliente" name="cliente_id" data-js="selectClientes">
          <option value=""> </option>
          <%  Cliente.all.each do |cliente| %>
            <option value="<%= cliente.id %>" <% if params[:cliente_id] == cliente.id.to_s %> selected <% end %> ><%= cliente.nome %></option>
          <%  end %>
      <select>
    </div>

    <div style="margin-bottom:10px">
      <label for="produto">Produto</label> 
      <input type="text" name="descricao" value="<%=params[:descricao] %>" class="form-control">
    </div>

    <input type="submit" class="btn btn-primary" value="Buscar">
  </form>
</div> 

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width:100px;">Código</th>
        <th style="width:800px;">Descrição</th>
        <th style="width:100px; text-align: end;">Estoque Atual</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @produtos) do |produto| %>
        <td style="text-align: end;"><%= produto.codigo_produto %></td>
        <td><%= produto.descricao %></td>
        <td style="text-align: end;"> <%= formatar_qtd(produto.estoque_atual) %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Apagar', produto, method: :delete, data: { confirm: 'Confirma ?' } %></td>
      <% end %>
    </tbody>
  </table>

  <div class="apple_pagination">
    <%= will_paginate @produtos, :container => false %>
  </div>  
</div>

<script>
  //Bloqueia a tecla Enter no campo de Input
  $(document).ready(function() {
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });   
  });

  $(document).on('change', "[data-js='selectClientes']", (e) => {
    const formProduto = document.querySelector("[data-js='formProduto']")
    formProduto.submit()
  })

  const buscaUsuarios = () => {
    alert("TESTE 2")

    const inputClientes = document.querySelector("[data-js=clientes]")
    const divClientes = document.querySelector("[data-js=clientesEncontrados]")
    const valor = inputClientes.value

    $('[data-js=clientesEncontrados]').hide()
    $('[data-js=clientesEncontrados]').html("")

    if(valor){
      $.get('/clientes.json', { busca: valor}, function(clientes) {
        clientes.forEach(cliente => {
          divClientes.innerHTML += `<div data-js='cliente' id='cliente-${cliente.id}'>${cliente.cnpj || cliente.cpf} - ${cliente.nome}</div>`
        });
      })

      $('[data-js=clientesEncontrados]').show()
    }
  }

  $(document).on('click', '[data-js=cliente]', function(event) {
    const value = event.target.textContent
    const id = parseInt(event.target.id.match(/\d+/)[0])
    $('[data-js=clientes]').val(value)
    $('[data-js=clientesEncontrados]').hide()
    $('#nota_fiscal_cliente_id').val(id)

    $.get(`/clientes/${id}.json`, function(cliente) {
      $('#cliente_cnpj').val(cliente.cnpj)
    })

  });

  $(".js-example-matcher").select2({
    matcher: matchCustom
  });

  function matchCustom(params, data) {
    if ($.trim(params.term) === '') return data
    if (typeof data.text === 'undefined') return null

    if (data.text.indexOf(params.term) > -1) {
      var modifiedData = $.extend({}, data, true);
      modifiedData.text += ' (matched)';
      return modifiedData;
    }

    return null;
  }
</script>
