<%= form_for([@pedido, @pedido_item], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Nº Pedido: </label>
      <h3><%= @pedido.id %></h3>
    </div>
  </div>

  <br>

  <div class="table-responsive">
    <table class="table table-hover table-striped user-select-none dinamicTable jsDinamicTable_pedido_id_<%= @pedido.id %>">
      <thead>
        <tr>
          <th></th>
          <th style="width: 120px;">Código</th>
          <th style="width: 340px;">Descrição</th>
          <th style="width: 125px;">Quantidade</th>
          <th style="width: 135px;">Preço Unitário</th>
          <th style="width: 135px;">Preço Total</th>
          <th style="width: 60px;">Data Entrega</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="tableBody_pedido_id_<%= @pedido.id %>">
        <% @pedido.itens.each_with_index do |pedido_item, index| %>
          <tr id="<%= index+1 %>" class="operacao">
            <td><%= index+1 %></td>
            <td><input class="form-control" id="<%= index+1 %>-cod_produto" data-behavior="cod_produto" type='text' value="<%= pedido_item.produto.codigo_produto %>" name='pedido[pedido_item][][cod_produto]'></td>
            <td>
              <%= f.select :descricao,
                Produto.all.reorder("descricao asc").collect { |produto| [produto.descricao, produto.codigo_produto] },
                {:selected => pedido_item.produto.codigo_produto },
                {:class=> 'form-control', name: 'pedido[pedido_item][][descricao]', onclick: "atualizaProduto()", codigo_produto: "#{index+1}-descricao"} 
              %> 
            </td>
            <td><input class='form-control' id='<%= index+1 %>-qtd'            type='number' value='<%= formatar_qtd(pedido_item.quantidade) %>'           name='pedido[pedido_item][][qtd]'             min="0" data-behavior='qtd'        ></td>         
            <td><input class='form-control' id='<%= index+1 %>-preco_unitario' type='text' value='<%= number_to_currency(pedido_item.preco_unitario) %>' name='pedido[pedido_item][][preco_unitario]' min="1" data-behavior='preco_unitario'></td>
            <td><input class='form-control' id='<%= index+1 %>-preco_total'    type='text' value='<%= number_to_currency(pedido_item.preco_total) %>'    name='pedido[pedido_item][][preco_total]'   readonly data-behavior='preco_total'></td>
            <td><input class='form-control' id='<%= index+1 %>-data_previsao_entrega'   type='date' value='<%= pedido_item.data_previsao_entrega.strftime("%Y-%m-%d") rescue "" %>'    name='pedido[pedido_item][][data_previsao_entrega]' data-behavior='data_previsao_entrega'></td>
            
            <td><button type='button' id='<%= index+1 %>-delete' data-behavior='delete' class='btn btn-danger delete'>x</button></td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" style="text-align:end">
     <p><b>Valor Total:<b></p>
     <p class="valor-total" style="font-size: 30px"></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render 'script' %>
