<style>
  a{color: #333333;}
</style>

<div class="page-header"> 
  <a class="btn btn-primary" href="javascript:window.location.assign('/pedidos/<%= @pedido.id %>/pedido_itens/new')">
    <span class="glyphicon glyphicon-plus"></span>
    Atualizar
  </a>
  <%= link_to pedidos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %> 
  <h3>Pedido Nº <%= @pedido.id%> - <%= @pedido.cliente.nome%></h3>
  <h3>Itens</h3> 
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width:100px;">Código</th>
        <th style="width:800px;">Descrição</th>
        <th style="width:100px;">Qtde</th>
        <th style="width:100px; text-align: end">Preço Unitário</th>
        <th style="width:100px; text-align: end">Preço Total</th>
        <th style="width:100px; text-align: end">Previão Entrega</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedido_itens) do |pedido_item| %>
        <td><%= pedido_item.produto.codigo_produto %></td>
        <td><%= pedido_item.produto.descricao %></td>
        <td><%= formatar_qtd(pedido_item.quantidade) %></td>
        <td style="text-align: end;"><%= number_to_currency(pedido_item.preco_unitario) %></td>
        <td style="text-align: end;"><%= number_to_currency(pedido_item.preco_total) %></td>
        <td style="text-align: end;"><%= pedido_item.data_previsao_entrega.strftime("%d-%m-%Y") rescue "" %> </td>
        <td style="text-align: end;"><%= link_to 'Entrega', pedido_pedido_item_entrega_pedidos_path(@pedido, pedido_item), class: "btn btn-primary"  %></td>
      <% end %>
    </tbody>
  </table>
</div>
